#mainTitle {
  margin-top: 2;
  text-align: center;
  font-family: 'MuseoModerno', cursive;
  color: cornflowerblue;
}

main {
  text-align: center;
}

canvas {
  border-radius: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

#intro-text {
  font-size: 1.2em;
  font-family: 'Archivo', sans-serif;
}

#p5-canvas-holder {
  text-align: center;
}

#buttons-holder {
  text-align: center;
  margin: 10px;
}