#root {
  background-color: rgb(250, 248, 217);
}

canvas {
  border-radius: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.buttons-holder {
  text-align: center;
  align-items: center;
}

.buttons-holder button {
  height: 3.5em;
  width: 5.5em;
  margin: 0.5em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

#circle-button {
  background-color: rgb(14, 138, 214);
  color: rgb(255, 182, 46);
}

#triangle-button {
  background-color: rgb(29, 203, 39);
  color: rgb(251, 141, 252);
}

#square-button {
  background-color: rgb(246, 253, 29);
}

#mainTitle {
  margin: 0.5em;
  text-align: center;
  font-family: 'MuseoModerno', cursive;
  color: cornflowerblue;
  letter-spacing: -3px;
}

#mainTitle span {
  display: inline-block;
}

#mainTitle span:hover {
  transform: scale(1.35);
}

#intro-text {
  font-size: 1.2em;
  font-family: 'Archivo', sans-serif;
}

#right-column {
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: pointer;
  margin: 0.5em;
}

.switch input {
  display: none;
}

.slider-red {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FE8176;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-red:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider-red {
  background-color: #FE2712;
}

input:focus+.slider-red {
  box-shadow: 0 0 1px #FE2712;
}

input:checked+.slider-red:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider-red.round {
  border-radius: 34px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.slider-red.round:before {
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.switch-holder {
  width: 250px;
  align-items: center;
}

.switch-text-left {
  flex: 1;
  text-align: left;
}

.switch-text-right {
  flex: 1;
  text-align: right;
}

/* .carousel-inner {
  padding: 5em;
} */

.carousel button{
  margin: 0em 3em;
};