canvas {
  border-radius: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.buttons-holder {
  text-align: center;
  align-items: center;
  margin: 10px;
}



#mainTitle {
  margin: 0.5em;
  text-align: center;
  font-family: 'MuseoModerno', cursive;
  color: cornflowerblue;
}

#intro-text {
  font-size: 1.2em;
  font-family: 'Archivo', sans-serif;
}

#right-column {
  text-align: center;
}